.task-box {
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    clear: both;
}

.task-display-box {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 4;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    clear: both;
}

.task-header,
.task-footer {
    width: 100%;
    height: 60px !important;
}
.task-header {
    width: 100%;
    background: #f2f2f2;
}
.task-body {
    width: 100%;
    /*height: calc(100% - 120px) !important;*/
    min-height: 400px;
    height: 600px;
    border-top: 1px solid #999;
    overflow: auto;
}
